<main class="ly_main">
  <div class="ly_card_article">
    <div class="bl_maintitle">
      <h1 class="el_lv1hedding">
        本の一覧
      </h1>
      <div>
        <%= link_to("本の登録", "/books/new") %>
      </div>
      <% books.each do |book| %>
        <div>
          『
          <%= link_to(book.book_title, "/books/#{book.id}") %>
          』
          <%= book.author %>
        </div>
      <% end %>

    </div>
  </div>
</main>
