<main class="ly_main">
  <div class="ly_card_article">
    <div class="bl_maintitle">
      <h1 class="el_lv1hedding">
        本の一覧
      </h1>

      <%= link_to("本の登録", "/books/new") %>

    </div>
  </div>
</main>
