<main class="ly_main">
  <div class="ly_card_article">
    <div class="bl_maintitle">
      <h1 class="el_lv1hedding">
        キャプチャ一覧
      </h1>
    </div>

  <!--ここに本の登録情報を表示-->
  <div>
    『
    <%= book.book_title %>
    』
    <%= book.author %>
  </div>

  <!--画像アップロードフォームを表示-->
  <%= form_tag("/books/#{book.id}/page_images/create", {multipart: true}) do %>
    <h2>画像</h2>
    <input name="page_images[]", type="file", multiple="true" accept=".jpg, .jpeg, .png, .heic, .pdf">
    <div>
    <input type="submit" value="保存">
    </div>
  <% end %>

  <!--画像一覧を表示-->
  <h2>画像一覧</h2>
  <% if page_files.empty? %>
    "画像がありません"
  <% else %>
    <% page_files.each |page_file| do %>
      <img src="<%= page_file %>?#{Time.now.to_i}"/>
    <% end %>
  <% end %>
  <!--
  <img src="<%#= "/page_images/#{book.id}/#{page_image.name}" %>?#{Time.now.to_i}"/>
  <img src="/page_images/hoge.png?12345"/>
  -->
  </div>
</main>

